{{ include header }}
<div class="app-h">
    <div class="app-w">
        <ul class="nui-w240 right fr app-h_icons">
            <li class="nui-inlines">
                <a class="nui-inline" href="/user/"><i class="iconfont icon-user"></i></a>
                <a class="nui-inline" href="/"><i class="iconfont icon-home"></i></a>
            </li>
        </ul>
        <i class="app-h_title">首页</i>
    </div>
</div>
<div class="app-b app-b_padding">

    <div class="app-w ">
        <div class="nui-grid">
            <div class="col-8">
                <div>
                    <div class="chat-head">
                        <img src="/uploads/1490325861249ic_launcher.png">
                        <h2 class="chat-head-title">机器人A</h2>
                        <span class="chat-head-text">你有什么要说的</span>
                    </div>
                    <div class="chat-main">
                        <ul>
                            <li>
                                <div class="chat-main-user"><img
                                        src="/uploads/1490325861249ic_launcher.png"><cite><i>2016-6-22
                                    3:43:02</i> 机器人A </cite></div>
                                <div class="chat-main-text">我们来聊天吧~</div>
                            </li>
                        </ul>
                    </div>
                    <div class="chat-tools"><i></i>
                        <div class="chat-tool-log">聊天记录</div>
                        <textarea class="chat-tool-textarea" placeholder="说点什么试试"></textarea>
                        <div class="chat-tool-bottom">
                            <span>发送消息</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <div class="nui-line-h1">
                        <div class="nui-line-nav" data-tab="a|this|ul.js_tab|li">
                            <a class="this" href="javascript:;"><i class="iconfont icon-user"></i> 好友</a>
                            <a href="javascript:;"><i class="iconfont icon-smile"></i> 多人聊天</a>
                        </div>
                    </div>
                    <ul class="js_tab">
                       <li>
                         <a data-chat='{"uid":10000}' class="nui-block" href="javascript:;" style="padding: 10px">  <i class="iconfont icon-user"></i> 好友1</a>
                         <a class="nui-block" href="javascript:;" style="padding: 10px">  <i class="iconfont icon-user"></i> 好友2</a>
                         <a class="nui-block" href="javascript:;" style="padding: 10px">  <i class="iconfont icon-user"></i> 好友3</a>
                         <a class="nui-block" href="javascript:;" style="padding: 10px">  <i class="iconfont icon-user"></i> 好友4</a>
                         <a class="nui-block" href="javascript:;" style="padding: 10px">  <i class="iconfont icon-user"></i> 好友5</a>
                         <a class="nui-block" href="javascript:;" style="padding: 10px">  <i class="iconfont icon-user"></i> 好友6</a>
                       </li>
                       <li class="hide">
                           <a class="nui-block" href="javascript:;" style="padding: 10px">  <i class="iconfont icon-smile"></i> 周末去干嘛</a>
                           <a class="nui-block" href="javascript:;" style="padding: 10px">  <i class="iconfont icon-smile"></i> 周末去干嘛</a>
                       </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/css/chat.css">
{{ include footer }}

<script src="/js/chat.js"></script>
