{{ include ../header }}
<div class="app-h">
    <div class="app-h">
        <div class="app-w">
            <ul class="nui-w240 right fr app-h_icons">
                <li class="nui-inlines">
                    <a class="nui-inline" href="/user/"><i class="iconfont icon-user"></i></a>
                    <a class="nui-inline" href="/"><i class="iconfont icon-home"></i></a>
                </li>
            </ul>
            <i class="app-h_title">用户登录</i>
        </div>
    </div>
</div>
<div class="app-b app-b_padding">
    <div class="app-w">
        <div class="nui-w480">
            <form class="nui-form_redirect">
                <div class="nui-form-group">
                    <div class="nui-form-label">邮箱</div>
                    <label class="nui-input-inline  nui-w240">
                        <input class="nui-input" name="email" data-check="email" placeholder="请输入您的邮箱">
                    </label>
                </div>
                <div class="nui-form-group">
                    <div class="nui-form-label">密码</div>
                    <label class="nui-input-inline  nui-w240">
                        <input class="nui-input" type="password" name="pass" data-check="pass" placeholder="请设置您的密码">
                    </label>
                </div>
                <div class="nui-form-group">
                    <div class="nui-form-label"></div>
                    <div class="nui-inline nui-w240 ">
                        <button class="nui-btn nui-block ">登陆</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{ include ../footer }}