{{ include ../header }}
<div class="app-h">
    <div class="app-w">
        <ul class="nui-w240 right fr app-h_icons">
            <li class="nui-inlines">
                <a class="nui-inline" href="/user/"><i class="iconfont icon-user"></i></a>
                <a class="nui-inline" href="/"><i class="iconfont icon-home"></i></a>
            </li>
        </ul>
        <i class="app-h_title">用户中心</i>
    </div>
</div>
<div class="app-b app-b_padding">
    <div class="app-w">
        <div class="nui-w320 fr">
            <div class="">
                <div class="app-user_photo" style="width: 120px">
                    <img src="{{d.db.photo||'/images/4b5ce2fe28308fd9.jpg'}}">
                </div>
                <div class="nui-fc1 nui-mt15">点击图片更换头像</div>
            </div>
        </div>
        <div class="nui-w480">
            <form class="nui-form_redirect">
                <div class="nui-form-group">
                    <div class="nui-form-label">邮箱</div>
                    <div class="nui-form-mid ">{{d.db.email||''}}</div>
                </div>
                <div class="nui-form-group">
                    <div class="nui-form-label">昵称</div>
                    <div class="nui-form-mid ">{{d.db.name||''}}</div>
                </div>
                <div class="nui-form-group">
                    <div class="nui-form-label">注册时间</div>
                    <div class="nui-form-mid ">{{d.db.create_date||''}}</div>
                </div>
            </form>
        </div>
        <hr>
        <div class="nui-line-nav" data-tab="a|this|.js_tab|li">
            <a class="this" href="javascript:;">最新动态</a>
            <a class="" href="javascript:;">修改资料</a>
        </div>
        <ul class="js_tab">
           <li>..</li>
           <li class="hide">...</li>
        </ul>
        <hr>
    </div>
</div>
{{ include ../footer }}